body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 78px;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    pointer-events: none;
    z-index: -10;
}

.container {
    width: 100vw;
    overflow-y: hidden;
    overflow-x: scroll; 
    display: flex;
    pointer-events: none;
}

.section {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh; 
    position: relative;
    background-color: transparent;
    border: 1px solid #00000000; /* This is not visable (opacity = 0) but for some reason has an effect on the alignment of the heading  */
    flex-shrink: 0; 
    pointer-events: none;
}

.sectionHeading {
    background-color: rgba(169, 169, 169, 0.4);
    box-shadow: 0 5px 5px rgb(169, 169, 169);
    width: 500vw;
    height: 10vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.pageHeading {
    font-size: 2vw;
    margin-top: 3vh;
    text-align: center;
    position: static;
}

.timelineLine {
    background-color: rgb(0, 0, 0);
    height: 5vh;
    width: 100vw;
    border: none;
    position: absolute;
    bottom: 7%;    
    opacity: 1;        
}

.sideMenu, .sideMenu > div{
    position: fixed;
    z-index: -11;
}

.sideMenuScrolled {
    background-color: rgb(169, 169, 169);
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
}

.menuOption {
    padding-top: 1vh;
    margin: 0;
    text-decoration: none;
    color: black;
}

.menuOption:visited {
    color: black;
}

.menuText:hover {
    position: relative;
    background-color: rgb(140, 140, 140);
}

.menuText {
    margin: 0;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    padding-left: 10vw;
    padding-right: 10vw;
    font-size: 3vh;
    text-align: center;
    display: inline-block;
}

#menuSelects{
    padding-left: 3vw;
}

.heading2020, .heading2030, .heading2040, .heading2050{
    font-size: 2vw;
    margin-top: 3vh;
    opacity: 0;
    text-align: center;
}

.introPageInfo {
    display: inline-block;
    position: absolute;
    color: white;
    background-color: rgba(169, 169, 169, 0.7);
    border-radius: 8px;
    width: 45vw;
    height: 35vh;
    top: 20vh;
    left: 10vw;
    padding: 3vh 1.5vw 2vh 1.5vw;
}
/*the info box that is up when first loading the section*/
.info2020, .info2030, .info2040, .info2050 {
    margin-top: 20vh;
    margin-left: 30vw;
    padding: 2vh 1vw 2vh 1.5vw;
    height: 25vh;
    width: 40vw;
    border-radius: 10px;
    background-color: rgba(118, 118, 118, 0.448);
}
/* The click elements have very similar properties and this is where they can all be edited */
.covidClick, .temp2027Click, .blackSummerClick, .sydneyRenewablesClick,
.melbourneClick, .olympicsClick, .populationClick, .worldPop9BilClick,
.submarinesClick, .powerPlantClick, .singularityClick, .carbonClick,
.worldPop10BilClick {
    background-color: aliceblue;
    position: absolute;
    padding: 10px 7px;
    bottom: 15vh;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: auto; 
}
/* This is the hover css for those click elements*/
.covidClick:hover, .temp2027Click:hover, .blackSummerClick:hover, .sydneyRenewablesClick:hover,
.melbourneClick:hover, .olympicsClick:hover, .populationClick:hover, .worldPop9BilClick:hover,
.submarinesClick:hover,.powerPlantClick:hover, .singularityClick:hover, .carbonClick:hover, 
.worldPop10BilClick:hover {
    background-color: rgb(213, 235, 255)
}
/* all of the ids (#) are the information boxes and all the classes (.) are the "buttons"*/
#blackSummerInfo {
    background-color: rgba(165, 165, 165, 0.6);
    border-radius: 1vw;
    width: 40vw;
    height: 30vh;
    margin-left: 25vw;
    margin-top: 20vh;
    margin-bottom: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    opacity: 1;
}

.blackSummerClick {
    left: -6vw;
}

#covidInfo {
    background-color: rgba(165, 165, 165, 0.6);
    border-radius: 1vw;
    width: 40vw;
    height: 35vh;
    margin-left: 25vw;
    margin-top: 20vh;
    padding: 2vh 1vw 2vh 1.5vw;
} 

.covidClick {
    left: 8vw;
}

#globalWarming2027 {
    background-color: rgba(165, 165, 165, 0.6);
    border-radius: 1vw;
    padding: 2vh 1vw 2vh 1.5vw;
    width: 40vw;
    height: 30vh;
    margin-left: 25vw;
    margin-top: 22vh;
}

.temp2027Click {
    left: 50vw;
}

#sydneyRenewables {
    background-color: rgba(165, 165, 165, 0.6);
    width: 30vw;
    height: 120px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.sydneyRenewablesClick {
    left: -5vw;
}

#melbourneSydney {
    background-color: rgba(165, 165, 165, 0.6);
    width: 36vw;
    height: 150px;
    margin-left: 35vw;
    margin-top: 23vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.melbourneClick {
    left: 7vw;
}

#brisbaneOlympics {
    background-color: rgba(165, 165, 165, 0.6);
    width: 37vw;
    height: 140px;
    margin-left: 25vw;
    margin-top: 23vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.olympicsClick {
    left: 22vw;
}

#population30Mil {
    background-color: rgba(165, 165, 165, 0.6);
    width: 30vw;
    height: 110px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.populationClick {
    left: 40vw;
}

#worldPop9Bil {
    background-color: rgba(165, 165, 165, 0.6);
    width: 30vw;
    height: 110px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.worldPop9BilClick {
    left: 80vw;
}

#submarinesArrive {
    background-color: rgba(165, 165, 165, 0.6);
    width: 30vw;
    height: 110px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.submarinesClick {
    left: 0vw;
}

#coalPowerPlant {
    background-color: rgba(165, 165, 165, 0.6);
    width: 30vw;
    height: 110px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.powerPlantClick {
    left: 15vw;
}

#aiSingularity {
    background-color: rgba(165, 165, 165, 0.6);
    width: 37vw;
    height: 170px;
    margin-left: 35vw;
    margin-top: 22vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.singularityClick {
    left: 50vw;
}

#carbonNeutral {
    background-color: rgba(165, 165, 165, 0.6);
    width: 38vw;
    height: 170px;
    margin-left: 33vw;
    margin-top: 22vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw;
}

.carbonClick {
    left: 40vw;
}

#worldPop10Bil {
    background-color: rgba(165, 165, 165, 0.6);
    width: 32vw;
    height: 120px;
    margin-left: 35vw;
    margin-top: 25vh;
    padding: 2vh 1vw 2vh 1.5vw;
    border-radius: 1vw; 
}

.worldPop10BilClick {
    left: 70vw;
}

